/*This is the design for the header*/
.mainTittle h2{
    font-size: 15px;
}

.mainTittle img {
    width: 40px;
}

/*This is the design for the footer*/
.paymentLogo{
    width: 50%;
}

.socialMedia a img{
    width: 5%;
}

/*This is the design for the page ''index''*/
.delivery img{
    width: 70px;
}

.shopOnline img{
    width: 50px;
}